@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body,
html {
	margin: 0;
	// overflow: hidden;
}

body {
	height: 100%;
	font-family: 'Montserrat';
	//display: none;
}

header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	background: #13a6fc;
	width: 100%;

	.logo {
		margin-left: 1em;
	}
	a {
		text-decoration: none;
		color: black;
	}
	nav ul {
		list-style: none;
		display: flex;
		justify-content: space-around;
		width: 100%;
		padding: 0;
		margin-top: 2em;
	}
	li a {
		padding: 0.5rem;
	}
}

.image {
	background: url('/pictures/BATUWA.jpg') no-repeat center center fixed;
	width: calc(100%-2em);
	height: 90vh;
	background-size: cover;
	margin: 0;
	overflow: hidden;
}
.our-videos {
	text-align: center;
	background-color: #57f2ed;
	margin: 0;
	padding: 0;
	height: 10vh;
	h2 {
		padding-top: 0.8rem;
		margin: 0;
		color: #707070;
		font-size: 2rem;
	}
}
.container {
	text-align: center;
	background-color: rgba(87, 242, 237, 0.3);
	padding-bottom: 2rem;

	iframe {
		margin: 1rem 0 1rem 0;
	}
	.footer {
		color: #707070;
		line-height: 1rem;
	}

	a {
		text-decoration: none;
		color: #707070;
		text-transform: uppercase;
		font-weight: bold;
		border: 1px gray;
		padding: 0.5rem;
		border-radius: 35%;
		background-color: rgba(87, 242, 237, 0.9);
	}
}
@media only screen and (min-width: 768px) {
	html {
		font-size: 20px;
	}
	.logo {
		margin-left: 2em;
	}
	nav {
		margin-right: 50px;
	}
}
